body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}
form{
    background-color: #fffbf8;
padding:13px;
width:335px;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border-radius:6px;
-webkit-box-shadow:
0 2px 4px 0 rgba(72, 72, 72, 0.83),
0 10px 15px 0 rgba(126, 126, 126, 0.12),
0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
-moz-box-shadow:
0 2px 4px 0 rgba(72, 72, 72, 0.83),
0 10px 15px 0 rgba(126, 126, 126, 0.12),
0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
box-shadow:
0 2px 4px 0 rgba(72, 72, 72, 0.83),
0 10px 15px 0 rgba(126, 126, 126, 0.12),
0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}

input {
    width:250px;
    height:30px;
    padding-left:15px;
    border-radius:6px;
    border:none;
    color:#0F0D0D;;
    font-weight:500;
    background-color:#E2EFF7;;
    -webkit-box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

button {
padding-bottom: 10px;
width:35px;
height:30px;
background-image:url(/img/search.png);
background-repeat: no-repeat;
background-position: 7px 5px;
background-color:transparent;
-webkit-background-size:20px 20px;
background-size:20px 20px;
border:none;
cursor:pointer;
}
input:focus{
    outline:0;
}